<!DOCTYPE html>
<html lang="en">

<head>
    <title>JordiEric PYMONGO</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Inicio</a>
                    </li>
                    <li role="presentation"><a href="showSignIn">Iniciar Sesión</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Regístrate</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">JordiEric PYMONGO</h3>
        </div>

        <div class="jumbotron">
            <h1>PyMongaso App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Regístrate y Alucina</a>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Regístrate</h4>
                <p>Página donde a través de un formulario validamos datos y los añadimos a la base de datos.</p>

                <h4>Iniciar Sesión</h4>
                <p>A través de un formulario comprobamos si el usuario existe en la base de datos y si su contraseña es correcta, inicia sesión.</p>

                <h4>User Home</h4>
                <p>Página donde accedes al inicar sesión. Sólo se puede acceder con una sesión válida, sinó denega el acceso.</p>
            </div>

            <div class="col-lg-6">
                <h4>Inicio</h4>
                <p>Página princial. Es lo que vemos al entrar por primera vez.</p>

                <h4>LogOut</h4>
                <p>Borra la variable sesión y vuelve al inicio.</p>
                <br><br>

            <h4>querys.py</h4>
                <p>Fichero donde se aprecia la conexión con MongoDB. Contiene nuestras querys para agilizar y limpiar el código.</p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; JordiEric PYMONGO Crack Edition (V2.03)</p>
        </footer>

    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>

</html>