<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Regístrate</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Inicio</a></li>
            <li role="presentation"><a href="showSignIn">Iniciar Sesión</a></li>
            <li role="presentation" class="active"><a href="#">Regístrate</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">JordiEric PYMONGO</h3>
      </div>

      <div class="jumbotron">
        <h1>PyMongaso App</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" class="form-control" name="lat" id="lat" value="">
        <input type="hidden" class="form-control" name="lon" id="lon" value="">
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; JordiEric PYMONGO Crack Edition (V2.03)</p>
      </footer>

    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        var lat = document.getElementById("lat");
        var lon = document.getElementById("lon");
        window.onload = function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(savePosition);
            } else {
               // x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function savePosition(position) {
            lat.value = position.coords.latitude;
            lon.value = position.coords.longitude;
        }
        $(function() {
            $('#btnSignUp').click(function() {

                $.ajax({
                    url: '/signUp',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        if(response=="1")
                        {
                            alert("Usuario creado correctamente. Ya puede iniciar sesión.");
                            window.location.href = "/showSignIn";
                        }
                        else
                        {
                            alert("El usuario ya existe.");

                        }


                    },
                    error: function(error) {
                        alert("Erroraso.");
                        console.log(error);

                    }


                });
            });
        });
    </script>
  </body>
</html>