<!DOCTYPE html>
<html lang="en">

<head>
    <title>JordiEric PYMONGO</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <!-- MAPAS -->

    {{sndmap.js}}


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/logout">Cerrar Sesión</a>
                    <li role="presentation" class="active"><a href="/map">Mapa</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">JordiEric PYMONGO</h3>
        </div>

        <div class="jumbotron">
            <h2>{{ message }}</h2>
            <br><br><br>
            <h3>{{ cityName }}</h3>
            <div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-lg-offset-3 centerfy"><!--Para centrar -->
            {{sndmap.html}}</div>

        </div>


        <footer class="footer">
            <p>&copy; JordiEric PYMONGO Crack Edition (V2.03)</p>
        </footer>

    </div>


<script>

</script>
</body>

</html>